<a href="https://colab.research.google.com/github/zzhining/python_ml_dl2/blob/main/2_2_na_exercise_skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제1
다음은 `age`, `salary`, `height` 컬럼이 포함된 데이터프레임이다. 다음의 조건에 따라 결측치를 처리하시오.
- `age` 컬럼의 결측치는 선형 보간법(linear interpolation)을 사용하여 처리
- `salary` 컬럼의 결측치는 평균값으로 대체하고, `height` 컬럼의 결측치는 중앙값으로 대체

In [1]:
import pandas as pd
import numpy as np

# 데이터프레임 생성
data = {
    'age': [25, np.nan, 30, 35, np.nan, 40],
    'salary': [50000, 55000, np.nan, 60000, 65000, np.nan],
    'height': [160, np.nan, 170, 175, 180, np.nan]
}

df = pd.DataFrame(data)

<힌트>
```
fillna()
interpolate()
```

In [2]:
# 코드 작성

# 문제2
다음은 `age`, `salary`, `height` 컬럼이 포함된 데이터프레임이다. 다음의 조건에 따라 결측치를 처리하시오.
- 모든 컬럼에 결측치가 포함된 행을 삭제

In [3]:
import pandas as pd
import numpy as np

# 데이터프레임 생성
data = {
    'age': [25, np.nan, 30, 35, np.nan, 40],
    'salary': [50000, 55000, np.nan, 60000, 65000, np.nan],
    'height': [160, np.nan, 170, 175, 180, np.nan]
}

df = pd.DataFrame(data)

<힌트>
```
dropna()
```

In [5]:
# 코드 작성