<a href="https://colab.research.google.com/github/zzhining/python_ml_dl2/blob/main/2_5_exercise_skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제1
주어진 데이터프레임 df를 사용하여 과목별 평균 점수를 구하시오.

In [1]:
import pandas as pd

data = {
    '이름': ['혜슬', '혜슬', '철수', '영희', '철수', '영희'],
    '과목': ['수학', '과학', '수학', '과학', '과학', '수학'],
    '점수': [85, 90, 78, 88, 95, 80]
}

df = pd.DataFrame(data)

<힌트>
```
groupby()
```

In [2]:
# 코드 작성

# 문제2
주어진 데이터프레임 df를 사용하여 학생별, 과목별 평균 점수를 구하시오.

In [3]:
import pandas as pd

data = {
    '이름': ['혜슬', '혜슬', '철수', '영희', '철수', '영희'],
    '과목': ['수학', '과학', '수학', '과학', '과학', '수학'],
    '점수': [85, 90, 78, 88, 95, 80]
}

df = pd.DataFrame(data)

<힌트>
```
pivot()
pivot_table()
crosstab()
```

In [4]:
# 코드 작성

# 문제3
주어진 데이터프레임 df에 범주형 변수가 포함된 모든 열에 대해 더미 변수를 생성하시오.

In [5]:
import pandas as pd

data = {
    'Gender': ['Male', 'Female', 'Female', 'Male'],
    'City': ['Seoul', 'Busan', 'Incheon', 'Seoul']
}

df = pd.DataFrame(data)

<힌트>
```
get_dummies()
```

In [6]:
# 코드 작성

# 문제4
주어진 데이터프레임 df에서 ‘Gender’ 열에 대해 더미 변수를 생성하시오.

In [7]:
import pandas as pd

data = {
    'Gender': ['Male', 'Female', 'Female', 'Male'],
    'City': ['Seoul', 'Busan', 'Incheon', 'Seoul']
}

df = pd.DataFrame(data)

<힌트>
```
get_dummies()

```

In [8]:
# 코드 작성

#문제5
주어진 데이터프레임 df에 범주형 변수가 포함된 모든 컬럼에 대해 더미 변수를 생성하되, 범주의 카테고리에서 하나를 생략하시오.

In [9]:
import pandas as pd

data = {
    'Gender': ['Male', 'Female', 'Female', 'Male'],
    'City': ['Seoul', 'Busan', 'Incheon', 'Seoul']
}

df = pd.DataFrame(data)

<힌트>
```
get_dummies()
```

In [10]:
# 코드 작성

# 문제6
다음 데이터프레임에 대해 정규화, 표준화한 값을 갖는 데이터 프레임을 각각 생성하여 출력하시오.

In [11]:
import pandas as pd

# 샘플 데이터 생성
data = {'나이': [25, 30, 45, 50, 60],
        '연봉': [3500, 4000, 5000, 5500, 6500]}

df = pd.DataFrame(data)

<힌트>
```
MinMaxScaler()
StandardScaler()
```

정규화 결과

In [12]:
# 코드 작성

표준화 결과

In [13]:
# 코드 작성

# 문제 7
사이킷런 패키지는 다양한 데이터셋을 제공한다. 대표적인 데이터 셋인 붓꽃 데이터셋(iris data)은 데이터 정제가 잘 되어있고, 머신러닝 학습 진행 시 성능이 좋아 머신러닝을 이제 막 시작하는 초보자들이 학습용으로 사용하는 대표적인 데이터 셋이다.
붓꽃 데이터셋은 꽃받침 길이와 너비, 꽃잎 길이와 너비의 4개의 특징 데이터에 따른 품종을 구분한 데이터로 총 150개의 값이 존재한다.

In [14]:
import pandas as pd
from sklearn.datasets import load_iris

# 데이터 불러오기
iris = load_iris()
df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
df['species'] = iris.target

1. 붓꽃 데이터셋(df)의 원본 데이터에 대해 값의 분포를 확인하고
2. `species` 열을 제외한 모든 열에 대해 정규화와 표준화를 각각 수행하여 데이터 분포를 확인하시오.

<힌트>
```
MinMaxScaler()
StandardScaler()
```

In [15]:
# 코드 작성