<a href="https://colab.research.google.com/github/zzhining/python_ml_dl2/blob/main/answer/2_4_merge_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 문제1
주어진 데이터프레임 df1과 df2를 행(row)기준으로 결합하는 코드를 작성하시오.

In [ ]:
import pandas as pd

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'ID': [4, 5, 6],
    'Name': ['David', 'Eva', 'Frank']
})

<힌트>
```
concat()
```

In [ ]:
# 코드 작성

# 데이터프레임을 행 기준으로 연결 (위아래로 붙이기)
result_concat = pd.concat([df1, df2], axis=0, ignore_index=True)
print(result_concat)

# 문제2
주어진 데이터프레임 df1과 df3를 열(column)기준으로 결합하는 코드를 작성하시오.

In [ ]:
import pandas as pd

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})

df3 = pd.DataFrame({
    'Age': [25, 30, 35]
})

<힌트>
```
concat()
```

In [ ]:
# 코드 작성

# 데이터프레임을 열 기준으로 연결 (좌우로 붙이기)
result_concat_col = pd.concat([df1, df3], axis=1)
print(result_concat_col)

# 문제3
다음 샘플 데이터 프레임을 ‘ID’를 키로 설정하여 Inner join을 수행하시오

In [ ]:
import pandas as pd

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
df4 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Score': [85, 90, 95, 80]
})

<힌트>
```
merge()
```

In [ ]:
# 두 데이터프레임을 'ID'를 기준으로 병합 (기본: inner join)
result_merge = pd.merge(df1, df4, on='ID', how='inner')
print(result_merge)

# 문제4
다음 샘플 데이터 프레임을 왼쪽 데이터 셋(df1)의 ‘ID’를 키로 설정하여 병합하시오.

In [ ]:
import pandas as pd

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
df4 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Score': [85, 90, 95, 80]
})

<힌트>
```
merge()
```

In [ ]:
# 코드 작성

result_left = pd.merge(df1, df4, on='ID', how='left')
print(result_left)

#문제5
다음 샘플 데이터 프레임을 오른쪽 데이터 셋(df4)의 ‘ID’를 키로 설정하여 병합하시오.

In [ ]:
import pandas as pd


df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
df4 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Score': [85, 90, 95, 80]
})

<힌트>
```
merge()
```

In [ ]:
# 코드 작성

result_left = pd.merge(df1, df4, on='ID', how='right')
print(result_left)

# 문제6
다음 샘플 데이터 프레임의 ‘ID’를 키로 설정하여 모든 데이터가 포함되도록 병합하시오.

In [ ]:
import pandas as pd

df1 = pd.DataFrame({
    'ID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie']
})
df4 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Score': [85, 90, 95, 80]
})

<힌트>
```
merge()
```

In [ ]:
# 코드 작성

result_left = pd.merge(df1, df4, on='ID', how='outer')
print(result_left)